.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
tmp
composer.lock
gitpush.sh
bin/
cbuild
*/.DS_Store
config/config.toml
main
.vscode
go.sum

internal/data/schemas/biz/*.json
internal/data/projects/biz/*.json
